<h1>Editing <%= @costume.name %> Costume</h1>


<%= form_tag(costume_url(@costume), method: 'put') do %>
   <p>
    <%= label_tag :name, "Costume Name" %>
    <%= text_field_tag :name, @costume.name, size: 80, placeholder: "What's in a name?" %>
 </p>
  <p>
    <%= label_tag :description, "Costume Description" %>
    <%= text_field_tag :description, @costume.description, size: 80, placeholder: "Change it if you dare" %>
 </p>
 <p>
    <%= label_tag :price, "Costume Price" %>
    <%= text_field_tag :price, @costume.price, size: 80, placeholder: "You wanted how much?!" %>
  </p>
  <p>
    <%= label_tag :currency, "Costume Currency" %>
    <%= text_field_tag :currency, @costume.currency, size: 80, placeholder: "Lets keep it PG..." %>
  </p>
  <p>
    <%= label_tag :theme_id, "Themes it goes with" %>
    <%= select_tag :theme_id, options_from_collection_for_select(Theme.all, :id, :name)%>
  </p>

    <%= submit_tag "Update Costume" %>


<% end %>
