<h1>Costumes</h1>

<%= link_to 'Add a New Costume', new_costume_url %></p>

<table>


  <tbody>
  <% @costumes.each do |costume| %>
    <tr>
      <td>
        <%= link_to 'Show', costume_url(costume) %>
        <%= link_to 'Edit', edit_costume_url(costume) %>
        <%= link_to 'Destroy', costume_url(costume), method: 'delete', data: { confirm: "Do you really want to delete this costume?" } %>
        <%= link_to costume.name, costume_url(costume) %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

