
<h1>Add a New Costume</h1>

<%= form_tag "/costumes" do %>
 <p>
    <%= label_tag :name, "Costume Name" %>
    <%= text_field_tag :name, "", size: 80, placeholder: "Costume name..." %>
  </p>
  <p>
    <%= label_tag :description, "Description" %>
    <%= text_field_tag :description, "", size: 80, placeholder: "Enter costume description..." %>
  </p>
  <div>
    <%= label_tag :theme_id %>
    <%= select_tag :theme_id,
                    options_from_collection_for_select(Theme.all, :id, :name) %>
  </div>
  <p>
    <%= label_tag :price, "Price" %>
    <%= number_field_tag :price, value = nil, options = {} %>
  </p>
  <p>
    <%= label_tag :currency, "Currency" %>
    <%= text_field_tag :currency, "", size: 80, placeholder: "Are we talking $? Beer? IOUs? You decide..." %>
  </p>

  <%= submit_tag "Submit" %>

<% end %>
