<h1> <%= @costume.name %> Costume</h1>

<p> 
	<b>Description</b>
	<%= @costume.description %>
</p>
<p> 
	<b>Price</b>
	<%= @costume.price %>
</p>
<p>
	<b>Currency</b>
	<%= @costume.currency %>
</p>
<p>
	<b>Themes it works for</b>
	<%= @costume.theme_id %>
</p>
